/* Tekstin keskitys, taustakuvan asetukset ja fontti */
body {
    text-align: center;
    background-image: url(taustakuva.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: Rockwell;
}

/* Otsikon fontti ja väri */
h1 {
    font-size: 30px;
    color: red;
}

/* Tekstin fontti ja väri */
p {
    font-size: 20px;
    color: white;
}

/* Linkki napin sijainti, koko ja väri */
.linkit {
    text-align: right;
    font-size: 30px;
    padding-right: 25px;
    cursor: pointer;
    color: white;
}

/* Overlay asetukset */
.overlay {
    height: 0;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
}

/* Overlayn sisällön sijainti */
.overlaysisältö {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

/* Overlayn sisällä olevien linkkien asetukset */
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
}

/* Overlayn sulkemis napin sijainti ja koko */
.overlay .closebtn {
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 50px;
}

/* Keskikokoisten näyttöjen asetukset */
@media only screen and (min-width: 600px) {
    .linkit {
        font-size: 40px;
        padding-right: 100px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
    .overlay .closebtn {
        right: 100px;
    }
}

/* Isojen näyttöjen asetukset */
@media only screen and (min-width: 1250px) {
    .linkit {
        font-size: 40px;
        padding-right: 200px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
    .overlay .closebtn {
        right: 200px;
    }
}